.contactFormContainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
    position: relative;
    top: 5%;
    display: block;
    margin: auto;
    height: auto;
    width: 80%;
}
