.form{
    
    display: block;
    margin: auto;
    width: 30%;
    height: 50%;
    padding: 10px;
}

input{
    height: 30px;
    width: 100%;
    font-size: 18px;
    
}

button{
    display: block;
    margin:auto;
    height: 30px;
    width: 50%;
    font-size: 20px;
}

form{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    position: relative;
    top: 10%;
    display: block;
    margin:auto;
    height: auto;
    width: 50%;
}

.loginContainer{
    height: 100vh;
    width: auto;
background-color: bisque;
}

form p{
    
    color: red;
    margin:3%;
    
}